@import '../../styles/variables.scss';

.orderContainer {
    width: calc(100% - 1.25rem);
    border: $border;
    box-shadow: $box-shadow;
    padding: 0.625rem;
    margin: 0.625rem;
    .ingredientsDetail {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .ingredientContainer {
            text-transform: capitalize;
            display: inline-block;
            margin: 0.5rem;
            border: $border;
            padding: 0.5rem;
            font-size: 0.75rem;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    p {
        margin: 0 auto;
    }
}
