@import '../../styles/variables.scss';

.notFoundContainer {
    width: 100%;
    max-width: 18.75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    img {
        height: 18.75rem;
    }
    h3 {
        width: 100%;
        text-align: center;
        margin: 0.625rem auto;
        color: $black;
    }
}
