@import '../../../styles/variables.scss';

.toolbarContainer {
    height: $toolbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    display: flex;
    color: $white;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem;
    z-index: 90;
    nav {
        height: 100%;
    }
}

@media (max-width: 499px) {
    .navDesktop {
        display: none;
    }
}
