@import '../../../styles/variables.scss';

.toobalContainer {
    height: $toolbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    display: flex;
    color: $white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    z-index: 90;
    nav {
        height: 100%;
    }
    .toolbarLogo {
        font-size: 2rem;
    }
}
