@import '../../styles/variables.scss';

.confirmationContainer {
    max-width: 18.75rem;
    width: 100%;
    padding: 0.625rem;
    margin: 0 auto;
    min-height: 18.75rem;
    border: $border;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    .confirmationTitle {
        font-size: 1.25rem;
        color: $black;
        margin: 0;
        padding: 0.625rem;
        padding-top: 0;
        border-bottom: $border-nav;
        width: 100%;
        text-align: center;
        text-transform: capitalize;
    }
    .confrimationNumber {
        font-size: 1.125rem;
        margin-top: 0.625rem;
        font-weight: bold;
        color: $primary;
        text-align: center;
        // push buttonContainer to the end of container vertically.
        flex-grow: 1;
        .confrimationLabel {
            color: $black;
            margin: 0;
            margin-bottom: 0.625rem;
        }
    }
    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
