// Colors
$primary: #b50000;
$secondary: #00b5b5;
$black: #222;
$grey: #ccc;
$white: #fff;

$danger: #7e0000;
$success: #008400;

// Burger

// Salad
$salad: linear-gradient(#228c1d, #91ce50);

// Bread
$bread-bottom: linear-gradient(#f08e4a, #e27b36);
$bread-shadow: inset -1rem 0 #c15711;
$bread-top: linear-gradient(#bc581e, #e27b36);

// Meat
$meat: linear-gradient(#7f3608, #702e05);

// Cheese
$cheese: linear-gradient(#f4d004, #d6bb22);

// Bacon
$bacon: linear-gradient(#bf3813, #c45e38);

$border: 0.0625rem solid $secondary;

$box-shadow: 0 0.1875rem 0.3125rem -0.0625rem rgba(0, 0, 0, 0.2),
    0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.14),
    0 0.0625rem 1.125rem 0 rgba(0, 0, 0, 0.12);

$back-drop-color: rgba(0, 0, 0, 0.5);
