@import '../../styles/variables.scss';

.spinnerContainer {
    height: 6.25rem;
    position: relative;
    background-color: $white;

    .spinner {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        max-width: 4.375rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        z-index: 600;
        border-radius: 0.2rem;
        .spinnerLine {
            width: 0.625rem;
            height: 0.625rem;
            animation-name: fade;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: center;
            &:first-child {
                animation-delay: 0s;
            }
            &:nth-child(2) {
                animation-delay: 0.1s;
            }
            &:nth-child(3) {
                animation-delay: 0.2s;
            }
            &:nth-child(4) {
                animation-delay: 0.3s;
            }
            &:nth-child(5) {
                animation-delay: 0.4s;
            }
            &:nth-child(6) {
                animation-delay: 0.5s;
            }
        }
        & > p {
            width: 100%;
            color: $secondary-dark;
            text-align: center;
            margin: 0;
        }
    }
}

@keyframes fade {
    0% {
        background-color: transparent;
        transform: scaleY(0);
    }
    50% {
        background-color: $secondary-dark;
        transform: scaleY(3);
    }
    100% {
        background-color: transparent;
        transform: scaleY(0);
    }
}
