@import '../../../../styles/variables.scss';

.navigationItemContainer {
    width: 100%;
    height: 3rem;
    border-bottom: $border-nav;
    a {
        padding: 0.625rem;
        color: $black;
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        &:active {
            color: $primary;
            font-weight: bold;
        }
    }
    .active {
        color: $primary;
        font-weight: bold;
    }
}

@media (min-width: 500px) {
    .navigationItemContainer {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        a {
            color: $white;
            height: 100%;
            padding: 1rem 0.625rem;

            &:active {
                background-color: $primary-light;
                color: $white;
                font-weight: bold;
            }
        }
        .active {
            background-color: $primary-light;
            color: $white;
            font-weight: bold;
        }
    }
}
