@import '../../../../styles/variables.scss';

.navigationItemContainer {
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
    a {
        color: $white;
        text-decoration: none;
        height: 100%;
        padding: 1rem 0.625rem;
        display: block;

        &:active {
            background-color: $primary-light;
            color: $white;
            font-weight: bold;
        }
    }
    .active {
        background-color: $primary-light;
        color: $white;
        font-weight: bold;
    }
}
