@import '../../../styles/variables.scss';

.burgerControlsContainer {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 0.125rem 0.0625rem $grey;
    margin: auto;
    padding: 0.625rem 0;
    .price {
        border: $border;
        padding: 0.625rem;
    }

    .orderButton {
        background-color: $primary;
        outline: none;
        cursor: pointer;
        border: none;
        color: $white;
        font-family: inherit;
        font-size: 1.25rem;
        padding: 1rem 2rem;
        margin-top: 0.625rem;
        box-shadow: $box-shadow;
    }

    .orderButton:hover,
    .orderButton:active {
        background-color: $secondary;
        border: none;
        color: $black;
    }

    .orderButton:disabled {
        background-color: $grey;
        cursor: not-allowed;
        border: none;
        color: $black;
    }

    .orderButton:not(:disabled) {
        animation: enable 0.3s linear;
    }
}
@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
