@import '../../styles/variables.scss';

.authContainer {
    width: 100%;
    max-width: 18.75rem;
    margin: 0 auto;
    border: $border;
    box-shadow: $box-shadow;
    form {
        .buttonContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            button {
                width: 100%;
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
