@import '../../../styles/variables.scss';

.breadBottom {
    height: 13%;
    width: 80%;
    background: $bread-bottom;
    border-radius: 0 0 2rem 2rem;
    box-shadow: $bread-shadow;
    margin: 2% auto;
}

.breadTop {
    height: 20%;
    width: 80%;
    background: $bread-top;
    border-radius: 50% 50% 0 0;
    box-shadow: $bread-shadow;
    margin: 2% auto;
    position: relative;
}

.seeds1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: $white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -0.125rem -0.1875rem #c9c9c9;
}

.seeds1:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -0.0625rem 0.125rem #c9c9c9;
}

.seeds1:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -0.0625rem -0.1875rem #c9c9c9;
}

.seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: $white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -0.1875rem 0 #c9c9c9;
}

.seeds2:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 0.0625rem 0.1875rem #c9c9c9;
}

.meat {
    width: 80%;
    height: 8%;
    background: $meat;
    margin: 2% auto;
    border-radius: 1rem;
}

.cheese {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: $cheese;
    border-radius: 1.25rem;
}

.salad {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: $salad;
    border-radius: 1.25rem;
}

.bacon {
    width: 80%;
    height: 3%;
    background: $bacon;
    margin: 2% auto;
}
