.checkoutSummaryContainer {
    text-align: center;
    width: 80%;
    margin: auto;
    .summaryContent {
        display: flex;
        justify-content: center;
        width: 18.75rem;
        margin: auto;
    }
    .buttonContainer {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .checkoutSummaryContainer {
        width: 31.25rem;
        .buttonContainer {
            flex-direction: row;
            justify-content: center;
        }
    }
}
