.orderSummaryContainer {
    text-transform: capitalize;
}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.question {
    text-align: center;
    font-weight: bold;
}

.price {
    font-size: 1.125rem;
    font-weight: bold;
}
