body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
